{% extends "base.html" %}
{% block content %}
<h2>Ajouter un mot de passe</h2>
<form method="post">
    <input type="text" name="label" placeholder="Nom du service" required>
    <input type="text" name="username" id="username" placeholder="Mail" required>
    <input type="text" name="password" id="password" placeholder="Mot de passe" required>
    <select name="category" id="category" required>
      <option value="" disabled selected>Choisissez une catégorie</option>
      <option value="travail">Travail</option>
      <option value="social">Social</option>
      <option value="privé">Privé</option>
    </select>
    <button type="button" onclick="generate()">Générer</button>
    <button type="submit">Enregistrer</button>
</form>
<a href="{{ url_for('vault') }}">Retour</a>

<script>
function generate() {
    fetch('/generate').then(r => r.json()).then(data => {
        document.getElementById('password').value = data.password;
    });
}
</script>
{% endblock %}
